# The WAN's PPPoE account and WireGuard's key; @path@ is a value of the secrets.
set network.wan.username='@pppoe.username@'
set network.wan.password='@pppoe.password@'
set network.wg0.private_key='@wireguard.private_key@'
